html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;

}


@media (min-width: 772px) and (max-width:991px){

    .grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .grid figure:nth-last-child(-n +1){
        
        grid-template-columns: auto;
        width: 50%;
        justify-self: center;
        grid-column: 1 / -1;
    }

    img{
        border-radius: 100%;
        height: 70%;
    }   
}

@media (min-width: 992px){


    .grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .grid figure:nth-child(3n -2){
        grid-column: 1 / -1;
        width: 50%;
        justify-self: center;
    }

    img{
        border-radius: 0;
        height: 70%;
    }   

}

@media (prefers-reduced-motion) {
  html{
    scroll-behavior: none;
    }

}

@media (prefers-color-scheme: dark) {
  figure {
    background-color: rgb(0, 0, 139);
    color: #ffec8a;
  }
  img{
        border: 5px solid rgb(5, 5, 5);
    }
}html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;

}


@media (min-width: 772px) and (max-width:991px){

    .grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .grid figure:nth-last-child(-n +1){
        
        grid-template-columns: auto;
        width: 50%;
        justify-self: center;
        grid-column: 1 / -1;
    }

    img{
        border-radius: 100%;
        height: 70%;
    }   
}

@media (min-width: 992px){


    .grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .grid figure:nth-child(3n -2){
        grid-column: 1 / -1;
        width: 50%;
        justify-self: center;
    }

    img{
        border-radius: 0;
        height: 70%;
    }   

}

@media (prefers-reduced-motion) {
  html{
    scroll-behavior: none;
    }

}

@media (prefers-color-scheme: dark) {
  figure {
    background-color: rgb(0, 0, 139);
    color: #ffec8a;
  }
  img{
        border: 5px solid rgb(5, 5, 5);
    }
}
