html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
}

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
    height: auto;
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    padding: 20px;
  }

.grid {
    display: grid;
    gap: 10px;
}

figure {
    border-radius: 50%;
}

@media (min-width: 772px) {
    .grid {
    grid-template-columns: repeat(2, 1fr);
    }
  
figure:last-child {
    grid-column: span 2;
    }
}
  
@media (min-width: 992px) {
    .grid {
    grid-template-columns: repeat(3, 1fr);
    }
  
figure:nth-child(3n) {
    grid-column: span 2; 
    border-radius: 0;
    }
}
  
@media (prefers-color-scheme: dark) {
    .grid {
    background-color: #333; 
    color: #fff; 
    }
  
figure {
    border: 1px solid #000; 
    }
}
  
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        }
    }
